<!DOCTYPE html>

    <%- include('../partials/head'); %>

    <body class="container">
        
        <%- include('../partials/header', {pagina: 'Sobre'}); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Oi eu sou Maycon Batista aluna do curso Rocketseat!</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>

    </body>
</hmtl>